@font-face {
  font-family: "croissantone";
  src: url("Font/CroissantOne-Regular.ttf") format("ttf"), url("Font/CroissantOne-Regular.woff") format("woff");
}
@font-face {
  font-family: "devonshire";
  src: url("Font/Devonshire-Regular.ttf") format("ttf"), url("Font/Devonshire-Regular.woff") format("woff");
}
@font-face {
  font-family: "dacingscript";
  src: url("Font/DancingScript-Regular.ttf") format("ttf"), url("Font/DancingScript-Regular.otf") format("otf"), url("Font/DancingScript-Regular.vfb") format("vfb"), url("Font/DancingScript-Regular.woff") format("woff");
}
@font-face {
  font-family: "kaushanscript";
  src: url("Font/KaushanScript-Regular.ttf") format("ttf"), url("Font/KaushanScript-Regular.otf") format("otf"), url("Font/KaushanScript-Regular.vfb") format("vfb"), url("Font/KaushanScript-Regular.woff") format("woff");
}
body {
  display: flex;
  flex-direction: column;
  margin: unset;
  height: 1400px;
}
body h6 {
  display: none;
}

.lienurl {
  text-decoration: none;
  cursor: pointer;
}

header {
  background-color: #579c87;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 50px;
}
header h1 {
  font-family: arial;
  font-weight: bolder;
  color: #fdcb46;
}

.Conteneur {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Conteneur__Menu {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 450px 450px;
  grid-gap: 50px;
  text-align: center;
  justify-content: center;
}
.Conteneur__Menu-Note {
  font-family: "devonshire", sans-serif;
  box-shadow: 0px 0px 5px #616161;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Conteneur__Menu-Chic {
  font-family: "croissantone", sans-serif;
  box-shadow: 0px 0px 5px #616161;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Conteneur__Menu-Delice {
  font-family: "dacingscript", sans-serif;
  box-shadow: 0px 0px 5px #616161;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Conteneur__Menu-Palette {
  font-family: "kaushanscript", sans-serif;
  box-shadow: 0px 0px 5px #616161;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Proch {
  display: flex;
  justify-content: center;
}
.Proch h3 {
  background-color: #579c87;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 1%;
  border-radius: 10px;
  color: #fdcb46;
}

footer {
  background-color: #579c87;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0%;
  width: 100%;
  padding-left: 20px;
}
footer h4 {
  font-size: 2em;
  font-family: sans-serif;
  font-weight: lighter;
  color: #fdcb46;
  margin-right: 40px;
  margin-top: 10%;
  margin-bottom: 10%;
  animation-iteration-count: infinite;
  transform: rotate(5deg);
}

/*# sourceMappingURL=Style.css.map */
