$color-primary: #579c87;
$color-secondary: #fdcb46;
$menu-shadow: #e0e0e0;
$note-background: #fcdfdb;
$note-font: #3d1319;
$gradientstart-icone: #ef4760;
$gradientend-icone: #f6926a;
$chic-background: #fff5fe;
$chic-font: #c77312; 
$gradientstart-chic: #e38913;
$gradientend-chic: #8f5bfe;
$delice-background: #f9f9f9;
$delice-font: #0886fb; 
$gradientstart-delice: #0020d8;
$gradientend-delice: #0889fb;
$palette-background: #fdfffd;
$palette-font: #72bf56; 
$gradientstart-palette: #3d923a;
$gradientend-palette: #bfff7f;